pandas==1.5.3
numpy==1.24.3
matplotlib==3.9.1
py-pdm==0.6.0
tensorflow==2.17.0
scikit-learn==1.5.1
beautifulsoup4==4.12.2
tqdm==4.65.0
PyAstronomy==0.21.0
astroquery==0.4.6
astropy==6.1.2
skypatrol==0.6.16
tess-point==0.8.1
tglc==0.6.1
lightkurve==2.4.2
#eleanor==2.0.5
